*.class
*.log
target/
project/target/
.cache
/**/.idea/
.bsp/
output_edges_contours/
output_corners/
output_split_edges/
output_rotated_contours/
output_translated_contours/
output_intersection/
output_intersection_mask/
output_intersection_drawing/
